
#blog_title {
	color: #cfc7e8;
}

#blog_description {
	display: inline;
	color: #5e3ed0;
	color: grey;
}

.menu {
	position: relative;
	list-style-type: none;
	text-decoration: none;
	font-size: 20px;
	font-style: italic;
	color: white;
}

#nav * {
	margin: 0;
	padding: 0;
}

#nav { 
	font-family: arial, sans-serif; 
	position: relative;
	top: -40px;
	left: 20px; 
	width: 400px; 
	height:50px; 
	margin: 0 auto;
} 

#nav ul { 
	list-style-type: none; 
} 
#nav ul li { 
	float: left; 
	position: relative; 
} 
#nav ul li a { 
	text-align: center; 
	display:block; 
	text-decoration:none; 
	color: white;
}
#nav ul li a:hover {
	color: black;
	background-color: #fefefe;
}

#nav ul li ul { 
	display: none;
	font-size: 15px;
	font-style: normal;
	float: left;
} 
#nav ul li ul a {
	padding: 5px;
}
#nav ul li:hover ul { 
	display: block; 
	position: absolute; 
} 
#nav ul li:hover ul li a { 
	display:block; 
	background: #fefefe; 
	color: black; 
	width: 110px;
	text-align: center; 
	border-right: none;
} 
#nav ul li:hover ul li a:hover {  
	color: white;
	background-color: black; 
}

#header_search {
	display: inline;
	position: absolute;
	width: 250px;
	margin-left: 50px;
}


#nav ul li a, #header_search {
	padding: 16px;
}