
#blog_title {
	color: #cfc7e8;
}

#blog_description {
	display: inline;
	color: #a1a6af;
}

.menu {
	position: relative;
	list-style-type: none;
	text-decoration: none;
	font-size: 23px;
	color: white;
}

#nav * {
	margin: 0;
	padding: 0;
}

#nav .current-menu-item,#nav .current-menu-parent{ 
	background:#1e2126;
}

div#nav { 
	font-family: arial, sans-serif; 
	/*position: relative;
	top: -52px; 
	height: inherit;*/
	float: left;
	text-align: center;
	width: 400px;
	margin-left: 100px;
	padding-top: 5px;
} 

#nav ul { 
	list-style-type: none; 
} 
#nav ul li { 
	float: left; 
	position: relative; 
} 
#nav ul li a { 
	text-align: center; 
	display:block; 
	text-decoration:none; 
	color: white;
	font-size: 20px;
}
#nav ul li a:hover {
	background-color: #1e2126;
}

#nav ul li ul { 
	display: none;
	font-style: normal;
	float: left;
} 
#nav ul li ul a {
	padding: 8px 15px;
	font-size: 14px;
	width: 100%;
}
#nav ul li:hover ul { 
	display: block; 
	position: absolute; 
} 
#nav ul li:hover ul li a { 
	display:block; 
	background: #fefefe; 
	color: black; 
	width: 80px;
	text-align: center; 
	border-right: none;
} 
#nav ul li:hover ul li a:hover {  
	color: white;
	background-color: #1e2126; 
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
	#header_search {
		display: none;
	}
}
@media only screen and (min-width: 1024px) {
	#header_search {
		float: right;
		margin-top: 5px;
	}
}


#nav ul li a, #header_search {
	padding: 19px;
}